<header>
         <div class="nav-bar">
            <h3>BrandLogo</h3>
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     {{#unless user}}
                     <a href="/auth/signup">Sign Up</a>
                     {{/unless}}
                </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
      </div>
	</header>

<div class="container">

<div class="form-container">

   <h1>Login</h1>

<form action="/auth/login" method="POST">
   <label for="username">Username</label>
      <input type="text" name="username">
   
   <label for="password">Password</label>
      <input type="password" name="password">

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

</div>
</div>