<header>
         <div class="nav-bar">
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     {{#unless user}}
                     <a href="/auth/login">Login</a>
                     {{/unless}}
                </div>
            </nav>
            <div class="logo-container">
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
                  <a class="logo" href="/">CreativeHaus</a>
               <div class="container-switch">
   <label class="switch">
  <input id='checkbox' type="checkbox" onchange='handleChange(this);'>
  <span class="slider round"></span>
  </label>
      </div>
      </div>
      </div>
	</header>




<div class="container">

<div class="form-container">

   <h1>Sign Up</h1>

   <form class="auth-form" action="/auth/signup" method="POST">
      <label for="username">Username</label>
         <input type="text" name="username">
      
      <label for="password">Password</label>
         <input type="password" name="password">
      
      <button type="submit">Submit</button>
   </form>

   {{#if errorMessage}}
      {{errorMessage}}
   {{/if}}

   </div>

</div>