
<h1>{{clientDetails.name}}</h1>
<form action="/client/new-color" method="post">
 <label> Add Color
      <input type="text" name="color">
   </label>
   <button type="submit">+</button>
</form>
<form action="/client/new-font" method="post">
 <label> Add Font
      <input type="text" name="font">
   </label>
   <button type="submit">+</button>
</form>
