<header>
         <div class="nav-bar">
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     <a id="back-btn" href="/user/client-list"> &#171 back</a>
                     <a href="/user/user-home">User profile</a>

                  </div>
                  <div class="log-out">
                     <a href="/auth/logout">Log Out</a>
                  </div>
                </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
      <a class="logo" href="/">CreativeHaus</a>
      </div>
	</header>

    <div class="container">

        <h1>Font Suite</h1>

        {{#each clientFonts}}

        <h4>{{this.fontOption}}</h4>
        <h2>{{this.fontFamily}}</h2>

        <div class="font-style-form">
            <h5>Font Styling</h5>
            <form action="/client/client-fonts/edit-styles">
                <label for="case">Case:
                    <input name="case"type="text">
                </label>
                <label for="letter-spacing">Letter spacing:
                    <input name="letter-spacing" type="text">
                </label>
                <label for="color-use">Color use:
                    <input name="color-use" type="text">
                </label>
                <button type="submit">Edit Styles</button>
            </form>
        </div>

        {{/each}}

</div>