
<h1>{{clientDetails.name}}</h1>

<form action="/client/{{clientDetails._id}}/new-color" method="post">
 <label> Add Color
      <input type="text" name="color">
   </label>
   <button type="submit">+</button>
</form>


<form action="/client/new-font" method="post">
 <label> Add Font
      <input type="text" name="font">
   </label>
   <button type="submit">+</button>
</form>
<form action="/client/{{clientDetails._id}}/delete" method="post">
   <button class="delete-btn" type="submit">Delete Client</button>
</form>
<form action="/user/{{clientDetails._id}}/edit-client" method="get">
   <button class="edit-btn" type="submit">Edit Client</button>
</form>
