<header>
         <div class="nav-bar">
            <h3 id="logo">BrandLogo</h3>
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     {{#unless user}}
                     <a href="/auth/signup">Sign Up</a>
                     <a href="/auth/login">Login</a>
                     {{/unless}}
                     {{#if user}}
                           <a href="/">Home Page</a>
                     <a href="/user/user-home">User profile</a>
                  </div>
                  <div class="log-out">
                     <a href="/auth/logout">Log Out</a>
                  </div>
                  {{/if}}
                </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
      </div>
	</header>
<section class="body">
 <div class="container">

<div class="color-palette-container">
<div class="animate">
<div class="loader" >
   <h1 class="color-palette-title">Need a 
      <span class="color-font">
        <span style="color: #29C414 ;">C</span><span style="color: #13CA35 ;">o</span><span style="color: #13D06E;">l</span><span style="color: #12D6AB;">o</span><span style="color: #11CBDC ;">r</span>  
      </span>
      
      Palette Inspo?</h1>
</div> 
</div>


<div class="palette-container" >

<form  action="/color-palette-select" method="post">
   <div class="color-form">
      <label> Pick a base color &#187;</label>
      <input class="color-picker" name="colorhex" type="color" id="colorpicker" value="#D111D5">
   </div>
    <div class="radio-btns">
       <label for="monochrome"> Monochrome 
          <input type="radio" name="paletteOption" id="monochrome" value="monochrome">
       </label>
      <label for="analogic"> Analogic 
     <input type="radio" name="paletteOption" id="analogic" value="analogic">
      </label>
      <label for="complement"> Complement
     <input type="radio" name="paletteOption" id="complement" value="complement">
      </label>
      <label for="triad"> Triad 
     <input type="radio" name="paletteOption" id="triad" value="triad">
      </label>
      <label for="quad"> Quad 
     <input type="radio" name="paletteOption" id="quad" value="quad">
      </label>
      <button id="form-btn" type="submit">Go</button>
    </div>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</div>
</div>

<div class="color-container">
{{#each colorScheme.colors}}
<div class="color">
<img src="{{this.image.bare}}" alt="">
<p>Hex: {{this.hex.value}}</p>
<p>{{this.rgb.value}}</p>
</div>
{{/each}}
</div>

</div>
</section>
  

