<div class="container">

<h1>Need Color Palette Inspiration?</h1>

<div class="form-container">

<form action="/color-palette" method="post">
   <div class="color-form">
      <label> Pick a base color</label>
      <input class="color-picker" type="color" id="colorpicker" value="#0000ff">
   </div>
   <button type="submit">Generate Colour Palette</button>
</form>

</div>
</div>
<form action="/color-palette-select" method="post">
 <label> Pick a base color</label>
      <input type="color" id="colorpicker" value="#000000">
   <button type="submit">Generate Colour Palette</button>
</form>

<div class="color-container">
{{#each colorScheme}}
<div class="color">
<img src="{{this.image.bare}}" alt="">
<h3>{{this.name.value}}</h3>
<p>Hex: {{this.hex.value}}</p>
<p>Rgb: {{this.rgb.value}}</p>
</div>
{{/each}}
</div>
