<header>
         <div class="nav-bar">
               <div class="nav-container">
                     <nav class="hamburger-nav">
                        <div class="nav">
                           <div class="nav-btns">
                              {{#unless user}}
                              <a href="/auth/signup">Sign Up</a>
                              <a href="/auth/login">Login</a>
                              {{/unless}}
                              {{#if user}}
                              <a href="/user/user-home">User profile</a>
                           </div>
                           <div class="log-out">
                              <a href="/auth/logout">Log Out</a>
                           </div>
                           {{/if}}
                        </div>
                     </nav>
                  <div class="logo-container">
                  <button class="hamburger">
                     <div class="bar"></div>
                  </button>
                  </div>
                  <a class="logo" href="/">CreativeHaus</a>
               <div class="container-switch">
                  <label class="switch">
               <input id='checkbox' type="checkbox" onchange='handleChange(this);'>
               <span class="slider round"></span>
               </label>
            </div>
         </div>
      </div>
	</header>
<section class="body">
 <div class="container">

<div class="color-palette-container">
<div class="animate">
<div class="loader" >
   <h1 class="color-palette-title">Color Palette Inspo?</h1>
</div> 
</div>


<div class="palette-container" >

<form  action="/color-palette-select" method="post">
   <div class="color-form">
      <label> Pick a base color &#187;</label>
      <input class="color-picker" name="colorhex" type="color" id="colorpicker" value="#11CBDC">
   </div>

    <div class="radio-btns-container">
       <label class="radio-btns-vitoria">Monochrome 
       <input type="radio" name="paletteOption" id="monochrome" value="monochrome">
       <span class="checkmark"></span>
       </label>
       <label class="radio-btns-vitoria">Analogic
       <input type="radio" name="paletteOption" id="analogic" value="analogic">
       <span class="checkmark"></span>
       </label>
       <label class="radio-btns-vitoria">Complement
       <input type="radio" name="paletteOption" id="complement" value="complement">
       <span class="checkmark"></span>
       </label>
       <label class="radio-btns-vitoria">Triad
       <input type="radio" name="paletteOption" id="triad" value="triad">
       <span class="checkmark"></span>
       </label>
       <label class="radio-btns-vitoria">Quad
       <input type="radio" name="paletteOption" id="quad" value="quad">
       <span class="checkmark"></span>
       </label>
      <button id="check-btn" type="submit">Go</button>
    </div>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</div>
</div>

<div class="color-container">
{{#each colorScheme.colors}}
<div class="color">
<img src="{{this.image.bare}}" alt="">
<p>Hex: {{this.hex.value}}</p>
<p>{{this.rgb.value}}</p>
</div>
{{/each}}
</div>

</div>
</section>
  

