<div class="color-container">

<h1>Need Color Palette Inspiration?</h1>

<div class="palette-container" >

<form  action="/color-palette-select" method="post">
   <div class="color-form">
      <label> Pick a base color</label>
      <input class="color-picker" name="colorhex" type="color" id="colorpicker" value="#000000">
   </div>
    <div class="radio-btns">
       <label for="monochrome"> Monochrome 
          <input type="radio" name="paletteOption" id="monochrome" value="monochrome">
       </label>
      <label for="analogic"> Analogic 
     <input type="radio" name="paletteOption" id="analogic" value="analogic">
      </label>
      <label for="complement"> Complement
     <input type="radio" name="paletteOption" id="complement" value="complement">
      </label>
      <label for="triad"> Triad 
     <input type="radio" name="paletteOption" id="triad" value="triad">
      </label>
      <label for="quad"> Quad 
     <input type="radio" name="paletteOption" id="quad" value="quad">
      </label>
      <button type="submit">Go</button>
    </div>
</form>
{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
</div>
</div>

<div class="color-container">
{{#each colorScheme.colors}}
<div class="color">
<img src="{{this.image.bare}}" alt="">
<p>Hex: {{this.hex.value}}</p>
<p>{{this.rgb.value}}</p>
</div>
{{/each}}
</div>

