<h1>color palette</h1>

<form action="/color-palette" method="post">
 <label> Pick a base color</label>
      <input type="color" id="colorpicker" value="#0000ff">
   <button type="submit">Generate Colour Palette</button>
</form>