
<header>
         <div class="nav-bar">
            <div>
               <button class="hamburger">
                  <div class="bar"></div>
               </button>
            </div>
            <div class="nav-container">
                  <nav class="hamburger-nav">
                     <div class="nav">
                        <div class="nav-btns">
                           {{#unless user}}
                           <a href="/auth/signup">Sign Up</a>
                           <a href="/auth/login">Login</a>
                           {{/unless}}
                           {{#if user}}
                           <a href="/user/user-home">User profile</a>
                        </div>
                        <div class="log-out">
                           <a href="/auth/logout">Log Out</a>
                        </div>
                        {{/if}}
                     </div>
                  </nav>
            </div>
            <div>
               <h3 id="logo">BrandLogo</h3>
            </div>
         </div>
            
	</header>
   

<div class="container">
   <div class="centered-box-color">
      <div class="typewriter">
    <h1 class="gray">If life feels <span class="blue">blue...</span></h1>
    <h1> <span class="gray">Pick another color from the</span></h1>
    <h1 class="rainbow"> 
      <span style="color:#CF4719 ;">r</span><span style="color: #D58019;">a</span><span style="color:#DABD18 ;">i</span><span style="color:#C2E017 ;">n</span><span style="color: #88E617 ;">b</span><span style="color:#49DC19 ;">o</span><span style="color:#18E861 ;">w</span><span style="color: #1BE9A2 ;">.</span>
      </span>
      </h1>
      </div>
    <a class="btn-color" href="/color-palette">Generate Color Palette</a>
    </div>
</div>




 

 
 
