
<header>
         <div class="nav-bar">
            <div>
               <button class="hamburger">
                  <div class="bar"></div>
               </button>
            </div>
            <div class="nav-container">
                  <nav class="hamburger-nav">
                     <div class="nav">
                        <div class="nav-btns">
                           {{#unless user}}
                           <a href="/auth/signup">Sign Up</a>
                           <a href="/auth/login">Login</a>
                           {{/unless}}
                           {{#if user}}
                           <a href="/user/user-home">User profile</a>
                        </div>
                        <div class="log-out">
                           <a href="/auth/logout">Log Out</a>
                        </div>
                        {{/if}}
                     </div>
                  </nav>
            </div>
            <div>
               
               <img id="logo" src="/images/CreativeHaus-Logo-White-Small.png">
            </div>
         </div>
            
	</header>
{{!-- <p>If life is so blue,then select another colour from the rainbow</p> --}}
<div class="container">
   <div class="centered-box">
    <h1>Vitorias Cool Animation</h1>
    <a class="btn" href="/color-palette">Generate Color Palette</a>
    </div>
</div>

