<div class="container">

<div class="form-container">

<form action="/user/add-client" method="POST">
   <label> Name
      <input type="text" name="name">
   </label>
   <label> Email
      <input type="email" name="email">
   </label>
   <button type="submit">Submit</button>
</form>
<a href="/user/client-list">back</a>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}

</div>
</div>