<div class="container">

<h1>Client list</h1>
<a href="/user/user-home">back</a>
<a href="/user/add-client">New Client</a>

{{#each clients}}
<a href="/client/{{_id}}/client-page">{{name}}</a>
{{/each}}

</div>