<form action="/user/edit-client" method="POST">
   <label> Name
      <input type="text" name="name" value="">
   </label>
   <label> Email
      <input type="email" name="email" value="">
   </label>
   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}