
<header>
         <div class="nav-bar">
            <h3 id="logo">BrandLogo</h3>
		<div class="nav-container">
            <nav class="hamburger-nav">
               <div class="nav">
                  <div class="nav-btns">
                     <div>
                           <a href="/">Home Page</a>
                         <a href="/user/client-list">Clients</a>
                     </div>
                    <div class="log-out">
                     <a href="/auth/logout">Log Out</a>
                    </div>
                </div>
               </div>
            </nav>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</div>
      </div>
	</header>

<div class="container">

<div class="centered-box">
<h1>Welcome {{user.username}}!</h1>
</div>

</div>