/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-size: 10px;
  font-family: 'montserrat';
  font-weight:600;
  margin: 50px;
}



/* Font Styles */

a {
  background-color:#8D6F57;
  border: solid 2px #8D6F57;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 25px;
  padding: 10px 30px;
}

a:hover {
  color: #8D6F57;
  border: solid 2px #8D6F57;
  background-color: transparent;
  
}

h1 {
  font-family: 'nimbus-sans-extended';
  font-weight: 900;
  font-size: 3em;
  color: #8D6F57;
}



/* Nav Styles */

.nav {
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

li {
  margin-right: 10px;
  list-style: none;
}

/* Form Styles */
.container {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  width: 350px;
  height: 40px;
  border-radius: 25px;
  border-width: 3px;
  margin-bottom: 20px;
  border-color: #8D6F57;
  color: #8D6F57;
  background-color: transparent;
  border-style: solid;
  padding: 10px 20px;

}

label {
  font-size: 1.5em;
  margin-bottom: 10px;
  color:#8D6F57;
}

form button {
  background-color:#8D6F57;
  border: solid 3px #8D6F57;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 25px;
  padding: 10px 30px;
  margin-top: 10px;
  font-family: 'montserrat';

}

form button:hover {
  color: #8D6F57;
  border: solid 3px #8D6F57;
  background-color: transparent;
  
}


/* Hamburger Nav Styles */

.nav-container {
	width: 100%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;

}

.hamburger {
	position: relative;
	display: block;
	width: 35px;
	cursor: pointer;
	appearance: none;
	background: none;
	outline: none;
	border: none;
    z-index: 100;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
	content: '';
	display: block;
	width: 100%;
	height: 5px;
	background-color:#8D6F57;
	margin: 6px 0px;
	transition: 0.8s;

}

.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
  background-color: white;
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
  background-color: white;
}

.hamburger.is-active .bar {
	opacity: 0;
}

.hamburger-nav {
	position: fixed;
	top: 0;
	right: 100%;
	width: 25%;
	min-height: 100vh;
	display: block;
	z-index: 98;
	background-color: #8D6F57;
	padding-top: 140px;
	transition: 0.4s;
}

.hamburger-nav.is-active {
	left: 0;
}

.hamburger-nav a {
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto 20px;
	text-align: center;
	padding: 12px 16px;
	background-color: transparent;
	color: white;
	text-decoration: none;
  border: solid 3px white;
  border-radius: 25px;
}

.hamburger-nav a:hover {
	background-color: white;
  color: #8D6F57;
}

.nav {
  display:flex;
  flex-direction: column;
  align-items: space-between;
}

/* color palette styling */

.color-container {
  display:flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.color {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

.color img {
  margin-bottom: 10px;
}